.mainContainer{
    display: grid;
    grid-template-columns: 30% 60%;
    justify-content: space-between;
}

.pieStyle{
    width: 80%;
    height:80%;
}

.mainContainer{
    display:flex;
    flex-direction: column;
}

.dataRow{
    display: grid;
    grid-template-columns: auto auto auto;
}

.cardsTransacion{
    width: 300px;
}
