.sidebar{
    width: 20%;
    height: 100%;
    /* background-color: black; */
    position: absolute;
    padding-left: 0.5rem;
    padding-right: 0.5rem ;
    border: 1px solid;
    border-right-color: black;
}

.headSidebar{
    text-align: center;
    margin: 1rem;
}

#testeLabel{
    margin: 0.2rem 1.3rem;
}

#testeLabel span{
    margin: 0.2rem;
    color: black;
    
}

.listMonths{
    margin-top: 2rem;
}