*{
    margin: 0;
    padding: 0;
    border: 0;
}

.title{
    width: 100%;
    text-align: center;
}

.months{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px 80px;
}

a{
    text-decoration: none;
}






